{% extends ":layout:Admin/layout_admin.html.twig" %}

{% block body %}
    <h2> Categories </h2>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <th scope="row">{{ category.id }}</th>
                <td><a href="#">{{ category.name }}</a></td>
                <td> Online </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-cog"></i>
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu spe">
                            <li><a href="#"><i class="glyphicon glyphicon-cloud-upload"></i> Editer</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}