{% extends ":layout:Public/layout.html.twig" %}
{% block body %}
    <div class="col-md-3"></div>

<div class="col-md-6">
    <h4>Ajouter une nouvelle adresse</h4>
    <hr>
    <form action="{{ path('_address_add') }}" method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <br>
        <input type="submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}