{% extends ":layout:Public/layout.html.twig" %}

{% block body %}


    <div class="row">
        <div class="span6">
            <p> Vous pouvez maintenant téléchargé votre facture : </p>
        </div>
    </div>

{% endblock %}