{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-2"></div>
<div class="text-center">
    <div class="col-md-6">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            <h2>Inscription</h2>
            {{ form_widget(form) }}
            <br>
            <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
        {{ form_end(form) }}
    </div>
</div>

