{% extends ":layout:Public/layout.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="span3">
                {% include ":layout:Public/modules/navigation.html.twig" %}
                {% include ":layout:Public/modules/user.html.twig" %}

            </div>

            <div class="span9">
                <ul class="thumbnails">
                    {% for product in products %}
                        <li class="span3">
                            <div class="thumbnail">
                                <img src="product.image" alt="imgLogo" width="300" height="300">
                                <div class="caption">
                                    <h4>{{ product.name }}</h4>
                                    <p>{{ product.price }} €</p>
                                    <a class="btn btn-primary" href="{{ path('_product', { 'id' : product.id }) }}">Plus d'infos</a>
                                    <a class="btn btn-success" href="panier.php">Ajouter au panier</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="pagination">
                    <ul>
                        <li class="disabled"><span>Précédent</span></li>
                        <li class="disabled"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Suivant</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}