<hr />
<footer id="footer" class="vspace20">
    <div class="container">
        <div class="row">
            <div class="span4 offset1">
                <h4>Informations</h4>
                <ul class="nav nav-stacked">
                    <li><a href="{{ path('_pages_homepage') }}">CGV</a>
                    <li><a href="{{ path('_pages_homepage') }}">Mentions légales</a>
                </ul>
            </div>
            <div class="span4">
                <h4>Notre entrepôt</h4>
                <p><i class="icon-map-marker"></i> Nantes - 44 Rue de Victoria</p>
            </div>
            <div class="span2">
                <h4>Nous contacter</h4>
                <p><i class="icon-phone"></i> Tel: 02 35 00 00 00</p>
                <p><i class="icon-print"></i> Fax: 02 35 00 00 00</p>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <p>&copy; Copyright 2014 - My Company</p>
            </div>
        </div>
    </div>
</footer>